body {
    background-image: url('https://media.gettyimages.com/id/865393164/pt/foto/interior-of-a-store-selling-womens-clothes-and-accessories.jpg?s=612x612&w=gi&k=20&c=bvyuINUMvEWKYkbhJACA7q37L0kGVUsIiGllXeHpCJQ=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-color: #000;
    color: black;
    text-align: center;
    top: 0;
}
#principal {
	width: 900px; /*Definição de largura padrão*/
}

#menu {/*Formatação do menu*/
	background: #40E0D0;
	/*border: 1px solid red; Borda sólida na div*/
	padding: 18px; display: flex /*Espaçamento interna div*/
}

#conteudo {
	background: #00FFFF;
	padding: 10px;
}

}
#rodape {
	text-align: center;
	color: #FFFFFF;
}

.img-campanha {
	border: 10px solid #868A08;
}

a { /*Formatação dos links*/
	color: #7FFFD4;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #00CED1;
	font-size: 1.2em;
}
h3 {
	color: #00CED1;
	font-size: 1.2em;
	}
h4 {
	color: #00CED1;
	font-size: 1.2em;
}
